<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Reddit Scraping</title>
    <link rel="stylesheet" type="text/css" href="../static/Accueil.css">
    
</head>
<body>
    <div class="banner">
        <img src="../static/logo.png" alt="logo" class="logo">
		<h1>Reddit stocks analysis</h1>
        <ul class="nav">
			<li><a href="/">Accueil</a></li>
		</ul>
	</div>
	<div class="content">  
        <h1>Bienvenue sur Reddit stocks analysis</h1>  
        <p>
            Nous vous proposons de scraper et d'analyser un certain nombre de posts reddit en live ainsi que des données 
            boursières d'une entreprise du Dow Jones (équivalent du CAC 40 pour aux Etats-Unis). Nous allons ensuite regarder 
            si les fluctuations de la bourse influent sur les sujets de posts ou si au contraire, les posts influencent la bourse. 
            Vous avez donc la possibilité de sélectionner combien de posts vous souhaitez scraper et l'entreprise que vous 
            ciblez. Il faut prendre en compte que plus vous de posts (environ 2 min pour 25 posts et 5 min pour 100 posts).
        </p>
        <form method='POST'>
            <label for="nb_posts">Sélectionnez le nombre de posts que vous souhaitez scraper:</label>
            <select id="nb_posts" name="posts">
                {% for i_post in nb_posts %}
                    {% if selected_nb_post == i_post %}
                        <option value="{{ i_post }}" selected>{{ i_post }}</option>
                    {% else %}
                        <option value="{{ i_post }}">{{ i_post }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="list_entreprises">Sélectionnez une entreprise:</label>
            <select id="list_entreprises" name="entreprise">
                {% for i_entreprise in list_entreprises %}
                    {% if selected_entreprise == i_entreprise %}
                        <option value="{{ i_entreprise }}" selected>{{ i_entreprise }}</option>
                    {% else %}
                        <option value="{{ i_entreprise }}">{{ i_entreprise }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Valider</button>
        </form>
    </div>
</body>
</html>